.loading-space-tool {
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  padding: 1rem;
}

.loading-space-tool__title {
  margin: 0;
  margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
  .loading-space-tool {
    border-color: var(--input-border-color-light);
  }
}
