.tools {
  height: 100%;
  width: 480px;
  background-color: var(--tools-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

.tools__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: auto;
}

.tools__action {
  margin: 1rem;
}

@media (prefers-color-scheme: light) {
  .tools {
    background-color: var(--tools-background-color-light);
  }
}

@media (max-width: 768px) {
  .tools {
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  .tools--hidden {
    visibility: hidden;
  }
}
