.cargo-dimensions-tool__cargo-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.cargo-dimensions-tool__cargo-name {
  display: flex;
  align-items: center;
}

.cargo-dimensions-tool__cargo-name-label {
  font-size: 0.875rem;
}

.cargo-dimensions-tool__cargo-name-input {
  margin-left: 8px;
  width: 100px;
}
