.tools-input {
  width: 60px;
  margin-left: 8px;
  margin-right: 4px;
}

.tools-input__label,
.tools-input__unit {
  font-size: 0.875rem;
}

.tools-input__description {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 480px) {
  .tools-input {
    width: 48px;
    font-size: 1rem;
  }
}
